@charset "UTF-8";
@font-face {
    font-family: '행복고흥L';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	box-sizing: border-box;
	/* font-family: '행복고흥L'; */
}
body {
    background-color: #D3EAEB;
    font-family: 'SDSamliphopangche_Outline';
}
.burger{
	width: 15%;
	background-color: #c4bee2;
    color: white;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 110px;
}
/* .recommend{
	width: 15%;
	justify-self: anchor-center;
	background-color: #c4bee2;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
} */
.goods{
	font-size: 17px;
    font-weight: 600;
    color: white;
    background-color: #c4bee2;
    padding: 10px;
    border-radius: 25px;
    width: 15%;
    justify-self: anchor-center;
}
.listrow{
	margin-top: 30px;
	text-align: center;
}
.listbox{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-self: center;
}
.name{
	font-weight: 500;
    font-size: 45px;
    text-align: center;
    cursor: pointer;
    font-family: '행복고흥L';
}
.kids{
	display: flex;
 	justify-content: center;
}
.kidsPhoto{
	margin-right: 110px;
}
