@charset "UTF-8";
*{
	box-sizing: border-box;
}
body {
    background-color: #D3EAEB;
    font-family: 'SDSamliphopangche_Outline';
}
.burger{
	width: 15%;
	background-color: #c4bee2;
    color: white;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 110px;
}
/* .recommend{
	width: 15%;
	justify-self: anchor-center;
	background-color: #c4bee2;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
} */
.goods{
	font-size: 17px;
    font-weight: 600;
    color: white;
    background-color: #c4bee2;
    padding: 10px;
    border-radius: 25px;
    width: 15%;
    justify-self: anchor-center;
}
.listrow{
	margin-top: 30px;
	text-align: center;
}
.listbox{
	display: flex;
    justify-content: space-around;
}
.name{
	font-weight: 500;
    color: white;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    font-family: '행복고흥L';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥L.woff') format('woff');
    font-weight: normal;
    font-style: normal
}
.kids{
	display: flex;
 	justify-content: center;
}
.kidsPhoto{
	margin-right: 110px;
}
