@charset "UTF-8";
*{
	box-sizing: border-box;
}
body {
    background-color: #9986b3;
}
.dessert{
	width: 15%;
	background-color: #c4bee2;
    color: white;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 110px;
}
.dessertMenu{
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}
.dessertPhoto{
	width: 350px;
    height: 350px;
}
.dessert_list{
	text-align: center;
    display: grid;
}
.name{
	font-weight: 500;
    color: white;
    font-size: 30px;
}