@charset "UTF-8";
*{
	box-sizing: border-box;
}
body {
    background-color: #D3EAEB;
}
.product{
	display: flex;
	justify-content: space-around;
	margin-top: 85px;
	width: 70%;
	margin-left: 15%;
}
.detail{
	width: 15%;
    background-color: #fff;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 110px;
    justify-self: center;
}
.select{
	width: 300px;
}
.productDetail{
	width: 20%;
    height: 335px;
}
.productName{
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 600;
    justify-self: center;
    height: 75px;
}
.price{
	float: right;
}
.selectCell{
	display: grid;
    height: 150px;
    margin-top:30px;
    margin-bottom: 30px;
    text-align-last: center;
}
.selectBar{
	border: none;
	border-radius: 10px;
	appearance: none;
	background-color: #fff;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
    cursor: pointer;
}
.totalPay{
	width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}
.buy{
	width: 15%;
    background-color: #fff;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 45px;
    justify-self: center;
    cursor: pointer;
}
.decide{
	display: flex;
	justify-content: center;
    margin-top: 10px;
}
.decision{
	width: 8%;
    background-color: #fff;
   	padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 2px;
}
.reviewCell{
	margin-top: 25px;
	border-top: 2px solid #555;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.review{
	display: inline-block;
    padding: 15px 20px 14px;
    width: 25%;
    /* border-right: 1px solid #ccc; */
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
   /* cursor: pointer; */
}
.ReviewCell{
	width: 100%;
    table-layout: fixed;
    height: 50px;
    padding: 11px 12px 10px 185px;
    box-sizing: border-box;
    background-color: #555;
}
.btn-best{
	color: #fff;
	padding: 0;
    margin: 0;
    border: 0;
    font-size: 12px;
    background: 0;
    outline: 0;
    box-sizing: border-box;
    cursor:pointer;
}
.btn-best a:hover{
	text-decoration: underline;
}
.btn-bar{
	margin: 0;
    padding: 0;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    color: #9a9a9a;
}
.review-info{
	display: flex;
}
.review-write{
	width: 500px;
    height: 35px;
    border: aliceblue;
    border-radius: 10px;
}
.info-profile{
	align-items: center;
    display: flex;
    margin: 20px;
}
.user-info{
	margin-left: 20px;
}
.profile-photo{
	width: 45px;
    height: 45px;
}
.star-photo{
	width: 80px;
}
.star-container{
	display: flex;
}
.starCheck{
	margin-right: 10px;
}
.review-writeCell{
	margin-top: 35px;
    align-items: center;
    margin-left: 25px;
}
input{
	background-image:url('../img/enter.PNG');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: right;
    padding-right: 40px;
}
.enterphoto{
	width: 30px;
}
.star-gray{
	display: inline-block;
    width: 89px;
    height: 15px;
    background: url(../img/star.png) 0 -271px no-repeat;
    margin-top: 5px;
}
.star-yellow{
	width: 0px;
	height: 100%;
    background: url(../img/star.png) 0 -246px no-repeat;}