@charset "UTF-8";
@font-face {
    font-family: '행복고흥L';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	box-sizing: border-box;
}
body {
    background-color: #D3EAEB;
}
.drink{
	width: 15%;
	background-color: #c4bee2;
    color: white;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 110px;
}
.drinkMenu{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-self: center;
}
.drinkPhoto{
	width: 300px;
    height: 270px;
}
.drink_list{
	text-align: center;
	padding-right: 60px;
	display: grid;
}
.name{
	font-weight: 500;
    font-size: 65px;
    display: inline-block;
    cursor: pointer;
    font-family: '행복고흥L';
}