@charset "UTF-8";
@font-face {
    font-family: '행복고흥L';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	box-sizing: border-box;
}
body {
    background-color: #D3EAEB;
}
.etc{
	width: 15%;
	background-color: #c4bee2;
    color: white;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 110px;
}
.etctMenu{
	width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-self: center;
}
.etcPhoto{
	width: 270px;
    height: 370px;
}
.name{
	font-weight: 500;
    font-size: 65px;
    text-align: center;
    cursor: pointer;
    font-family: '행복고흥L';
    width: 100%;
    display: block;
}