@charset "UTF-8";
*{
	box-sizing: border-box;
}
.hand{
	position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: 600;
}
.make{
	position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    font-weight: 600;
}
.Menu{
	position: absolute;
    top: 80%;
    left: 72%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
}