@charset "UTF-8";
*{
	box-sizing: border-box;
}
.menu{
	position: relative;
}
.Menu {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    font-weight: 600;
}   
.intro{
	text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.menuRow{
	margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.menu_list{
	text-align: center;
    display: grid;
}
.menuPhoto{
	width: 183px;
    height: 235px;
}
.name{
	font-size: 25px;
    font-weight: 500;
}