@charset "UTF-8";
*{
	box-sizing: border-box;
}
.menu{
	position: relative;
}
.Menu {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    font-weight: 600;
}   
.intro{
	text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.listrow{
	display: flow;
}
.list{
	justify-self: right;
	margin-top: -42%;
} 
.goods{
	justify-self: center;
}
.viewList{
	display: grid;
    justify-items: center;
}
.list_name{
	font-size: 20px;
}
.burgerP {
    width: 30%;
}
.menuRow{
	display: flex;
    justify-content: space-around;
}
.menu_list{
	text-align: center;
    display: grid;
}
.listrow{
	display: grid;
    justify-content: end;
}
.menuPhoto{
	width: 183px;
    height: 235px;
}
.name{
	font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}