@charset "UTF-8";
*{
	box-sizing: border-box;
}
body {
    background-color: #D3EAEB;
}
.payment{
	width: 15%;
    background-color: #fff;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 110px;
    justify-self: center;
}
.point{
	font-size: 17px;
    font-weight: 600;
    margin-top: 5px;text-align: right;
    margin-right: 30%;
    margin-top: 75px;
}
table { 
	border: 3px solid #fff;
	justify-self: center;
    margin-top: 15px;
    width: 95%;
}
td { 
	border: 1px solid #fff; 
}
tr{
	text-align-last: center;
}
.pointCell{
	height: 30px;
	background-color: #D3EAEB;
    font-size: 17px;
    cursor: pointer;
    border: none;
}
.Point_{
	margin-right: -235px;
    margin-left: 120px;
}
.payWay{
	width: 15%;
    background-color: #fff;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 135px;
    
}
.howToPay{
	width: 70%;
    background-color: #fff;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 22px;
    justify-self: anchor-center;
    height: 300px;
    display: flex;
    justify-content: flex-end;
}
.payKind{
	margin-top: 25px;
    width: 20%;
    margin-left: 30px;
}
.kakaoPay{
	width: 200px;
    background-color: #c4bee2;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 25px;
}
.hum{
   	width: 60%;
    align-content: center;
}
.amount{
	display: flex;
    align-items: end;
}
.paydone{
	width: 15%;
    background-color: #fff;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 45px;
    margin-right: 135px;
    float: right;
    cursor: pointer;
}
#name{
	width:460px;
}
#mony{
	width:300px;
}
#payPoint{
	background-color: transparent;
    border: solid 1px black;
    border-radius: 5px;
    width:100%;
}
#usePoint{
	width: 270px;
}
#count{
	width:180px;
}
#allMony{
	width:570px;
}