@charset "UTF-8";
*{
	box-sizing: border-box;
}
body {
    background-color: #D3EAEB;
}
.shop{
	width: 25%;
	background-color: #c4bee2;
    color: white;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 150px;
    justify-self: anchor-center;
}
table { border: 3px solid #fff;
		justify-self: center;
    	margin-top: 100px;
    	width: 95%;
}
td { 
	border: 1px solid #fff; 
}
tr{
	text-align-last: center;
}
.shopBtn{
	justify-self: anchor-center;
	position: absolute;
    bottom: 100px;
}