@charset "UTF-8";
@font-face {
    font-family: '행복고흥L';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	box-sizing: border-box;
}
body {
    background-color: #D3EAEB;
}
.side{
	width: 15%;
	background-color: #c4bee2;
    color: white;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 110px;
}
.side_list{
	text-align: center;
}
.sideMenu{
	margin-top: 30px;
	display: flex;
    justify-content: space-around;
}
.sidePhoto{
	width: 340px;
	height: 270px
}
.name{
	font-weight: 500;
    font-size: 65px;
    cursor: pointer;
    font-family: '행복고흥L';
 }